* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    min-width: 100%;
    min-height: 100%;
    margin:0 0 0 0;
}

#flexbox-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    /*overflow: hidden;*/
}

#canvasDiv {
    flex: 1;
    width: 100%;
}

canvas.jspaint {
    position: absolute;
    min-height: 100px;
    min-width: 100px;
    top: 0;
    left: 0;
    width: 100%;
}

.background {
    display: none;
}

#debug {
    float: right;
    padding-right: 10px;
}

seperator {
    display: inline-block;
    min-width: 50px;
}