* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

html, body {
    min-width: 100%;
    min-height: 100%;
    margin:0 0 0 0;
    padding: 0 0 0 0;
}

#flexbox-wrapper {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    /*overflow: hidden;*/
}

#canvasDiv {
    flex: 1;
    width: 100%;
}

canvas.jspaint {
    position: absolute;
    min-height: 100px;
    min-width: 100px;
    top: 0;
    left: 0;
    width: 100%;
}

.background {
    display: none;
}

seperator {
    text-align: center;
    display: inline-block;
    min-width: 8px;
}

.round-button {
    border-radius: 32px;
    height: 32px;
    width: 32px;
    margin-left: 2px;
    margin-right: 2px;
}

.round-button-selected {
    border: 4px solid #808080;
}

.red {
    background-color: #FF0000;
}

.green {
    background-color: #00FF00;
}

.blue {
    background-color: #0000FF;
}

.black {
    background-color: #000000;
}

.white {
    background-color: #FFFFFF;
}

#toolbar {
    z-index: 1000;
    min-height: 32px;
    margin-left: 4px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    font-size: 32px;
    font-family: Helvetica, Arial, serif;
}

#toolbar button, #toolbar input {
    height: 32px;
    font-size: 28px;
}

.show {
    visibility: visible;
}

.hide {
    display: none;
    visibility: hidden;
}

#debug {
    position: fixed;
    float: left;
    padding-left: 10px;
    font-family: monospace;
    background: white;
}

#debug table,
#debug th,
#debug td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

#debug th {
   border-left-width: 2px;
}

#debug td:nth-of-type(2n - 1) {
    background: #DDD;
    border-left-width: 2px;
}
